{/* This is the slide template. It defines how presentations are formatted. */}

{{define "root"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
    <meta charset='utf-8'>
    <script src='/static/slides.js'></script>
  </head>

  <body style='display: none'>

    <section class='slides layout-widescreen'>

      <article>
        <h1>{{.Title}}</h1>
        {{with .Subtitle}}<h3 style="font-size: 40px; line-height: 40px;">{{.}}</h3>{{end}}<br/>
        {{if not .Time.IsZero}}<h3>2016. április 8.</h3><h3>Madarasi Hargita</h3>{{end}}<br/><br/>
        <div class="presenter" style="position: absolute; bottom: 3em; left: 2em">
          {{range .Authors}}
            {{range .TextElem}}{{elem $.Template .}}{{end}}
          {{end}}
        </div>
        <img src='/static/logo.png' width="128px" height="128px"  style="position: absolute; bottom: 2em; right: 1em"/>
      </article>

  {{range $i, $s := .Sections}}
  <!-- start of slide {{$s.Number}} -->
      <article>
      {{if $s.Elem}}
        <h3>{{$s.Title}}</h3>
        {{range $s.Elem}}{{elem $.Template .}}{{end}}
      {{else}}
        <h2>{{$s.Title}}</h2>
      {{end}}
      </article>
  <!-- end of slide {{$i}} -->
  {{end}}{{/* of Slide block */}}

      <article>
        <h3>Köszönöm</h3>
        {{range .Authors}}
          <div class="presenter">
            {{range .Elem}}{{elem $.Template .}}{{end}}
          </div>
        {{end}}
      </article>

    </section>

    <div id="help">
      Use the left and right arrow keys or click the left and right
      edges of the page to navigate between slides.<br>
      (Press 'H' or navigate to hide this message.)
    </div>

    {{if .PlayEnabled}}
    <script src='/play.js'></script>
    {{end}}
  </body>
</html>
{{end}}

{{define "newline"}}
<br>
{{end}}
